{% extends "base.html" %}
{% from '_macros.html' import hero_section %}

{% block title %}Jack Van Zeeland - Beyond the Code{% endblock %}

{% block content %}
{{ hero_section('Beyond the Code', 'Sports, Fitness, and Personal Interests') }}

<div class="about-content-container">

    <div class="row beyondTheCode-row">
        <div class="col-md-8">
            <p>While my professional life revolves around automation and problem-solving, my personal interests keep me
                active and engaged outside of work.</p>

            <h3>Sports & Fitness</h3>
            <p>Sports have always been a huge part of my life, shaping my competitive spirit and love for teamwork.
                Growing up, I played a variety of sports, which naturally led to my continued involvement today.</p>
            <ul>
                <li><strong>Intermural Sports:</strong> You can often find me on the field or court playing intermural
                    softball, basketball, and volleyball.</li>
                <li><strong>Golf:</strong> I enjoy hitting the links whenever I can, whether it's a casual round with
                    friends or a more competitive outing. Golf is a great way to relax and enjoy the outdoors while
                    challenging myself.</li>
                <li><strong>Running:</strong> In 2023, I started running, completing my first half-marathon that year
                    and logging over 550 miles since. It’s become one of my favorite ways to stay active and clear my
                    head.</li>
                <li><strong>Lifting Weights:</strong> When I'm not running, I'm in the gym focusing on strength
                    training.</li>
            </ul>
            <h3>My Top Recommendations</h3>
            <p>Here are some of my favorite movies, podcasts, episodes, and books that I've enjoyed and found
                insightful:</p>
            <div class="ex">
                <details>
                    <summary class="fancy-summary">🎥 Favorite Movies</summary>
                    <div class="media-grid">
                        <div class="media-item">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/ReIJ1lbL-Q8?si=x2nwOC3OkT-7AbZ9"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="media-item">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/EodWwczRIe4?si=nE_mXU8mk090h3Gs"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="media-item">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/bx46tthKXmc?si=-GXgTJB5hjbk3uko"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </details>
            </div>
            <div class="ex">
                <details>
                    <summary class="fancy-summary">🎧 Favorite Podcasts</summary>
                    <div class="media-grid">
                        <div class="media-item">
                            <div class="embed-responsive spotify-embed-tall">
                                <iframe class="embed-responsive-item" style="border-radius:12px"
                                    src="https://open.spotify.com/embed/show/0XrOqvxlqQI6bmdYHuIVnr/video?utm_source=generator"
                                    frameBorder="0" allowfullscreen=""
                                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                                    loading="lazy"></iframe>
                            </div>
                        </div>
                        <div class="media-item">
                            <div class="embed-responsive spotify-embed-short">
                                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/7nc7OQdPTekErtFSRxOBKh?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                            </div>
                        </div>
                        <div class="media-item">
                            <div class="embed-responsive spotify-embed-tall">
                                <iframe class="embed-responsive-item" style="border-radius:12px"
                                    src="https://open.spotify.com/embed/show/6bSPqenYtlBc7AU6H5sjca?utm_source=generator"
                                    frameBorder="0" allowfullscreen=""
                                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                                    loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </details>
            </div>

            <div class="ex">
                <details>
                    <summary class="fancy-summary">🎧 Favorite Podcast Episodes</summary>
                    <div class="media-grid">
                        <div class="media-item">
                            <div class="embed-responsive spotify-embed-tall">
                                <iframe class="embed-responsive-item" style="border-radius:12px"
                                    src="https://open.spotify.com/embed/episode/2KyMXeMQS0djxazcFJZaSb/video?utm_source=generator"
                                    frameBorder="0" allowfullscreen=""
                                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                                    loading="lazy"></iframe>
                            </div>
                        </div>
                        <div class="media-item">
                            <div class="embed-responsive spotify-embed-tall">
                                <iframe class="embed-responsive-item" style="border-radius:12px"
                                    src="https://open.spotify.com/embed/episode/7DCZh0UySNrMkd2E373rso/video?utm_source=generator"
                                    frameBorder="0" allowfullscreen=""
                                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                                    loading="lazy"></iframe>
                            </div>
                        </div>
                        <div class="media-item">
                            <div class="embed-responsive spotify-embed-tall">
                                <iframe class="embed-responsive-item" style="border-radius:12px"
                                    src="https://open.spotify.com/embed/episode/6tjNyF02d4F4ux9RBeFUxG?utm_source=generator"
                                    frameBorder="0" allowfullscreen=""
                                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                                    loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </details>
            </div>


            <div class="ex">
                <details>
                    <summary class="fancy-summary">📚 Favorite Audiobooks</summary>
                    <div class="content">
                        <ol>
                            <li>The Almanack of Naval Ravikant - A Guide to Wealth and Happiness (Eric Jorgenson, Tim Ferriss)
                            </li>
                            <li>Atomic Habits (James Clear)</li>
                            <li>The Hard Thing about Hard Things (Ben Horowitz)</li>
                            <li>Trump: The Art of the Deal (Donald J. Trump, Tony Schwartz)</li>
                            <li>Can't Hurt Me (David Goggins)</li>
                        </ol>
                    </div>
                </details>
            </div>

        </div>

        <div class="col-md-4">
            <div class="profile-container">
                <h3>My Photos</h3>
                <div id="slideshow-container" class="slideshow-container">
                    <img class="slideshow-image" src="" alt="Meet Jack Photo">
                    <button class="prev-btn" aria-label="Previous slide">&lt;</button>
                    <button class="next-btn" aria-label="Next slide">&gt;</button>
                </div>
                <div class="contact-info">
                    <h2>Instagram</h2>
                    <div class="instagram-embed-container">
                        <blockquote class="instagram-media"
                            data-instgrm-permalink="https://www.instagram.com/jack.vanzeeland/"
                            data-instgrm-version="14"
                            style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin:1px; max-width:540px; min-width:326px; padding:0; width:99.375%;">
                            <a href="https://www.instagram.com/jack.vanzeeland/" target="_blank">View Jack Van Zeeland's profile on Instagram</a>
                        </blockquote>
                        <script async src="//www.instagram.com/embed.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="static/js/beyondTheCode_slideshow.js"></script>
{% endblock %}