{% extends "base.html" %}
{% from '_macros.html' import hero_section, project_card %}

{% block title %}Jack Van Zeeland - Home{% endblock %}

{% block content %}
{{ hero_section('Welcome to My Portfolio', 'Showcasing my passion for problem-solving and innovative solutions.') }}

<div class="container my-4">
    <p class="text-center"><span class="interactive-legend"></span> Indicates an interactive project</p>
</div>

<div class="container mt-5">
    <div class="row">
        {% for project in projects %}
            {{ project_card(project) }}
        {% endfor %}
    </div>
</div>
{% endblock %}